{% extends 'home/base.html' %}

{% load static %}
{% block title %}Créer son compte{% endblock %}
{% block css %}<link href="{% static 'css/account.css' %}" rel="stylesheet" />{% endblock %}

{% block content %}
<header class="masthead-account">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-12 col-lg-10 align-self-center">
                <h1 class="text-uppercase text-white font-weight-bold">Je créé mon compte</h1>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-4 offset-4 offset-4">
            <form action="" method="post" class="">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.field.widget.input_type == 'checkbox' %}
                        <div class="form-inline">
                            {{ field }}{{ field.label_tag }}
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endif %}
                    <div class="bg-danger">
                        {% for error in fields.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary mb-2" type="submit">S'inscrire</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}