language: python
python:
  - '3.7.9'

before_script:
  - pip3 install -r requirements.txt

env: DJANGO_SETTINGS_MODULE="project.settings"

# safelist
branches:
  only:
    - staging

services:
  - postgresql

script:
  - .project/manage.py test