{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Legal notices' %}{% endblock %}
{% block content %}
<!-- Masthead-->
<header class="masthead-legal-notice">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-12 col-lg-10 align-self-center">
                <h1 class="text-uppercase text-white font-weight-bold">{% translate 'Legal notices' %}</h1>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>
<div class="container mt-5" id="page_legal">
    <section>
        <h2>{% translate 'Legal informations' %}</h2>
        <p>{% translate 'By virtue of article 6 of law n ° 2004-575 of June 21, 2004 on confidence in the digital economy, it is clear to users of the purbeurre.fr site, the identity of the various shareholders within the framework of its realization and its follow-up:' %}</p>
        <p>{% translate 'In accordance with the "Informatique et Libertés" law of January 6, 1978, this site is the subject of a declaration to the CNIL - dated November 19, 2015 - receipt of declaration n ° 190 6255' %}</p>
    </section>
    <section>
        <h2>{% translate 'Owner' %}</h2>
        <p>{% translate 'Colette and Rémy' %}</p>
    </section>
    <section>
        <h2>{% translate 'Brand' %}</h2>
        <p>"Pur Beurre"</p>
    </section>
    <section>
        <h2>{% translate 'Catch phrase' %}</h2>
        <p>"{% translate 'Fat, yes, but of quality!' %}"</p>
    </section>
    <section>
        <h2>Designer / Webhost</h2>
        <p>Pur Beurre</p>
    </section>
</div>
{% endblock %}