{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead-legal-notice">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-12 col-lg-10 align-self-center">
                <h1 class="text-uppercase text-white font-weight-bold">Mentions Légales</h1>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>
<div class="container mb-30" id="page_legal">
    <section>
        <h2>Information légales</h2>
        <p>En vertu de l'article 6 de la loi n ° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site purbeurre.fr, l'identité des différents actionnaires dans le cadre de sa réalisation et de son suivi:</p>
        <p>Conformément à la loi "Informatique et Libertés" du 6 janvier 1978, le présent site fait l'objet d'une déclaration à la CNIL - en date du 19 Novembre 2015 - récépissé de déclaration n°190 6255</p>
    </section>
    <section>
        <h2>Propriétaire</h2>
        <p>Colette et Rémy</p>
    </section>
    <section>
        <h2>Marque</h2>
        <p>"Pur Beurre"</p>
    </section>
    <section>
        <h2>Phrase d'accroche</h2>
        <p>"Du gras, oui, mais de qualité !"</p>
    </section>
    <section>
        <h2>Designer / Webhost</h2>
        <p>Pur Beurre</p>
    </section>
</div>
{% endblock %}